@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background-image: linear-gradient(
    to bottom,
    #af67e9,
    #9f67e9,
    #8d66e9,
    #7a66e8,
    #6565e7
  );
  background-repeat: no-repeat;
  height: 100vh;
  color: hsl(238, 29%, 16%);
}

h1 {
  font-weight: 700;
  /* font-size: 2.2rem; */
}

.site-container {
  width: 1300px;
  margin: auto;
}

.faq-section {
  background-color: white;
  display: flex;
  padding: 4rem 0;
  border-radius: 25px;
  /* justify-content: space-around; */
}

h2 {
  font-weight: 400;
}

.question-container {
  display: flex;
  align-items: center;
  /* gap: 4rem; */
  justify-content: space-between;
}

.faq div {
  width: 500px;
}

p {
  color: hsl(240, 6%, 50%);
  /* font-size: 1rem; */
}

.illustration {
  position: relative;
  overflow: hidden;
}

.img-1 {
  position: absolute;
  left: 0px;
  top: 215px;
  z-index: 2;
  transform: translateX(200px) translateY(50px);
}

.img-2 {
  width: 600px;
  transform: translateX(-130px);
}
