@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background-image: linear-gradient(
    to bottom,
    #af67e9,
    #9f67e9,
    #8d66e9,
    #7a66e8,
    #6565e7
  );
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  font-weight: 700;
}

.faq-section {
  background-color: white;
}
