@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: url("/images/bg-desktop.svg");
  background-color: hsl(257, 40%, 49%);
  color: white;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.intro-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.huddle-intro p {
  width: 450px;
}
