@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  font-size: 18px;
  overflow-x: hidden;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

section {
  margin-bottom: 70px;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  height: 25px;
  background-color: white;
  padding: 2rem;
}

.nav-items {
  display: flex;
  gap: 40px;
  color: hsl(233, 8%, 62%);
  cursor: pointer;
  height: 45px;
}

.nav-items span:hover {
  color: black;
  border-bottom: 5px solid;
  border-bottom-color: hsl(136, 65%, 51%);
}

.invite-btn {
  border: none;
  border-radius: 20px;
  background-color: hsl(136, 65%, 51%);
  cursor: pointer;
  height: 2.5rem;
  padding: 10px 35px 14px 35px;
  color: white;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  font-weight: 700;
}

.invite-btn:hover {
  background-image: linear-gradient(to right, #73e993, #3fd7fd);
}

/* Intro */
.intro {
  display: flex;
  width: 1540px;
  align-items: center;
  margin-bottom: 0%;
}

.intro-container {
  overflow: hidden;
  height: 832px;
  margin-left: 210px;
}

.intro-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 19rem;
}

.intro-info h1 {
  font-size: 5rem;
  font-weight: 500;
  padding: 0%;
}

.intro-info p {
  color: hsl(233, 8%, 62%);
  width: 39rem;
  font-size: 1.3rem;
}

.bg-1 {
  position: absolute;
  z-index: -1;
  top: -160px;
  left: 950px;
}

.bg-2 {
  transform: translate(250px, -110px);
  /* height: 980px; */
}

/* FEATURES */

.features {
  margin-right: 6rem;
}

.statement {
  transform: translateX(220px);
  line-height: 1.5;
  margin-bottom: 5rem;
}

.statement h1 {
  font-weight: 400;
  font-size: 45px;
}

.statement p {
  color: hsl(233, 8%, 62%);
  width: 600px;
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 86px;
}

.feature h2 {
  font-weight: 400;
}
.feature p,
.author,
.article-card p {
  color: hsl(233, 8%, 62%);
}

.feature p {
  width: 280px;
}

/* ARTICLES */

.article-section {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-right: 6rem;
}

.article-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 260px;
}

.article-card img {
  width: 300px;
}

.article-card img:first-child {
  height: 266px;
}

.article-container h1 {
  transform: translateX(210px);
}

.article-info h3 {
  font-weight: 500;
  cursor: pointer;
}

.article-info h3:hover {
  color: #31d35c;
}

.article-info span {
  font-size: 15px;
}

/* Footer Section */

.footer-section {
  display: flex;
  justify-content: space-around;
  background-color: hsl(233, 26%, 24%);
  padding: 50px 50px;
  color: white;
  margin-bottom: 0;
}

.logo {
  /* filter: brightness(0) invert(1); */
  filter: brightness(40%) sepia(100%) hue-rotate(120deg) saturate(1000%);
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  cursor: pointer;
}

.social-icons img:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg)
    saturate(1000%) contrast(0.8);
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 100px;
  transform: translateX(-200px);
}

.nav-links span:hover {
  color: #31d35c;
  cursor: pointer;
}

.footer-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
}

.footer-btn span {
  color: hsl(240, 7%, 73%);
}

/* Media Queries */

@media (max-width: 1440px) {
  body {
    overflow-x: hidden;
  }
  nav {
    width: 1450px;
  }

  .intro-container {
    margin-left: 0px;
  }

  .bg-1 {
    width: 800px;
    height: 785px;
    top: 0px;
    left: 650px;
  }

  .features {
    margin-right: 0px;
  }

  .statement {
    transform: initial;
  }

  .article-section {
    margin-right: 0px;
  }

  .article-container h1 {
    transform: initial;
  }

  .nav-links {
    transform: initial;
  }
}

@media (max-width: 1380px) {
  .bg-2 {
    transform: translate(0px, -110px);
  }
  .features,
  .article-section {
    margin-left: 100px;
  }

  .article-container h1 {
    margin-left: 50px;
  }
}

@media (max-width: 1250px) {
  .features {
    margin-left: 150px;
  }
  .footer-section {
    width: 1300px;
  }

  .bg-2 {
    transform: translate(-45px, -110px);
  }
  .statement {
    transform: translateX(-120px);
  }
}

@media (max-width: 1180px) {
  .features,
  .article-section {
    margin-left: 200px;
  }
  .bg-2 {
    transform: translate(-45px, 0px);
    width: 700px;
  }
  .intro-container {
    overflow: initial;
  }
}

@media (max-width: 1080px) {
  .features,
  .article-section {
    margin-left: 400px;
  }
  .statement {
    transform: translateX(-300px);
  }
}

@media (max-width: 920px) {
  .features,
  .article-section {
    margin-left: 500px;
  }
  .statement {
    transform: translateX(-450px);
  }
}

@media (max-width: 840px) {
  .features,
  .article-section {
    margin-left: 600px;
  }
  .statement {
    width: 500px;
    transform: translateX(-500px);
  }
}

@media (max-width: 730px) {
  .features,
  .article-section {
    margin-left: 800px;
  }
  .footer-section {
    width: 1450px;
  }
  .statement {
    transform: translateX(-700px);
  }
}

@media (max-width: 500px) {
  body {
    font-size: 2.5rem;
  }
  .intro {
    flex-direction: column-reverse;
  }
  /* .intro-container {
    overflow: hidden;
  } */

  .statement {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-info h1 {
    font-size: 4rem;
  }
  .bg-1 {
    display: none;
  }
  .bg-2 {
    transform: translate(-45px, -100px);
  }
  .features {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features,
  .article-section {
    margin-left: 400px;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .feature-cards {
    flex-direction: column;
  }

  .feature p {
    width: 700px;
  }

  .feature h2 {
    font-size: 3rem;
  }

  .feature img {
    width: 200px;
    height: 200px;
  }
  .statement {
    transform: initial;
  }
  .article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article-container h1 {
    margin-left: 700px;
    font-weight: 500;
    width: 830px;
    font-size: 4.5rem;
  }

  .article-info h3 {
    width: 700px;
  }

  .article-info span {
    font-size: 1.5rem;
  }

  .article-card img:first-child {
    width: 700px;
    height: 500px;
  }
  .article-section {
    flex-direction: column;
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }
}
