@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

section {
  margin-bottom: 70px;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  height: 25px;
  background-color: white;
  padding: 2rem;
}

.nav-items {
  display: flex;
  gap: 20px;
  color: hsl(233, 8%, 62%);
  cursor: pointer;
  height: 45px;
}

.nav-items span:hover {
  color: black;
  border-bottom: 5px solid;
  border-bottom-color: hsl(136, 65%, 51%);
}

.invite-btn {
  border: none;
  border-radius: 20px;
  background-color: hsl(136, 65%, 51%);
  cursor: pointer;
  height: 2.5rem;
  padding: 10px 35px 14px 35px;
  color: white;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  font-weight: 700;
}

.invite-btn:hover {
  background-image: linear-gradient(to right, #73e993, #3fd7fd);
}

/* Intro */
.intro {
  display: flex;
  width: 1540px;
}

.intro-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bg-1 {
  position: absolute;
  z-index: -1;
  top: -150px;
  /* left: 890px; */
}

/* .bg-2 {
  transform: translate(430px, -110px);
} */

/* FEATURES */
.statement h1 {
  font-weight: 400;
}

.statement p {
  color: hsl(233, 8%, 62%);
}

.feature-cards {
  display: flex;
}

.feature h2 {
  font-weight: 400;
}
.feature p,
.author,
.article-card p {
  color: hsl(233, 8%, 62%);
}

/* ARTICLES */

.article-section {
  display: flex;
  gap: 170px;
}
.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
}

.article-card img {
  width: 400px;
}

.article-card img:first-child {
  height: 266px;
}
