@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

/* Light header */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: hsl(225, 100%, 98%);
  height: 200px;
  margin-top: 0px;
  padding-top: 50px;
  border-left-width: 50px;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  gap: 370px;
}

.heading h2 {
  margin-top: 10px;
  line-height: 0;
  font-size: 35px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.followers {
  color: hsl(228, 12%, 44%);
}

.total-followers {
  font-weight: bold;
  color: hsl(228, 12%, 44%);
}

.button span {
  font-weight: bold;
  color: hsl(228, 12%, 44%);
}

/* Dark header */
.dark {
  color: white;
}

.dark-span {
  color: hsl(228, 12%, 44%);
}

/* Dashboard */
.dashboard {
  display: flex;
  gap: 20px;
  transform: translateY(-83px);
}

.dash-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 200px;
  width: 300px;
  text-align: center;
  background-color: hsl(225, 100%, 98%);
}

.dash-item h1 {
  margin: 10px 0px 0px 0px;
  font-size: 50px;
}

.social {
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  color: hsl(228, 12%, 44%);
}

.followers {
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.item-fb {
  border-top: 4px solid hsl(208, 92%, 53%);
  border-radius: 4px;
}

.item-twitter {
  border-top: 4px solid hsl(203, 89%, 53%);
  border-radius: 4px;
}

.item-instagram {
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-image: linear-gradient(
    to right bottom,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  border-image-slice: 1;
  border-radius: 4px;
}

.item-youtube {
  border-top: 4px solid hsl(348, 97%, 39%);
  border-radius: 4px;
}

.increase,
.decrease {
  font-weight: bold;
}

.increase {
  color: hsl(163, 72%, 41%);
}

.decrease {
  color: hsl(356, 69%, 56%);
}

/* Overview */
.overview h2 {
  color: hsl(228, 12%, 44%);
}

.overview-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}

.overview-item {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  justify-items: flex-end;
  background-color: hsl(225, 100%, 98%);
  padding: 20px 20px 0px 20px;
  width: 250px;
}

.overview-item .increase,
.overview-item .decrease {
  align-self: center;
}

.overview-item h3 {
  font-weight: 700;
  font-size: 30px;
  justify-self: flex-start;
}

.overview-heading {
  justify-self: flex-start;
  font-size: 14px;
  font-weight: bold;
  color: hsl(228, 12%, 44%);
}
