.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  background-color: hsl(213, 66%, 11%);
}

.inner-container,
.inner-container p,
.main-img {
  width: 19rem;
}

.main-img,
.image__overlay {
  border-radius: 10px;
}

.inner-container {
  position: relative;
}

.image__overlay {
  position: absolute;
  transform: translate(0rem, 0rem);
  width: 83%;
  height: 49%;
  background: rgba(106, 197, 209, 0.671);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  cursor: pointer;
}

.image__overlay:hover {
  opacity: 1;
}

.outer-container {
  display: flex;
  justify-content: center;
  margin-top: 6.3rem;
}

.inner-container {
  background-color: hsl(213, 50%, 17%);
  display: flex;
  flex-direction: column;
  border: 2rem solid hsl(217, 54%, 11%);
  border-radius: 2.5rem;
  padding: 2rem;
}

.inner-container h3 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 0;
  cursor: pointer;
}

.inner-container h3:hover,
.currency span,
.credits .name:hover {
  color: hsl(178, 100%, 50%);
}

.info {
  display: flex;
  justify-content: space-between;
}

.inner-container p,
.time span,
.credits span {
  color: hsl(215, 51%, 70%);
}

.inner-container p {
  line-height: 1.5;
  letter-spacing: 1px;
}

.currency {
  padding-bottom: 1.5rem;
}

.currency span {
  font-weight: bold;
}

.credits {
  display: flex;
  align-items: center;
  border-top: 2px solid hsl(213, 29%, 34%);
  padding-top: 1.5rem;
  gap: 1rem;
}

.credits img {
  border: 2px solid white;
  border-radius: 4.4rem;
  width: 2.5rem;
}

.credits .name {
  color: white;
  cursor: pointer;
}

@media (max-width: 25rem) {
  .inner-container,
  .main-img {
    width: 16rem;
  }
  .inner-container p {
    letter-spacing: normal;
  }
  .image__overlay {
    height: 45%;
    width: 80%;
  }
}

@media (max-width: 21rem) {
  .inner-container,
  .main-img,
  .inner-container p {
    width: 12.5rem;
  }
  .image__overlay {
    height: 36%;
    width: 77%;
  }
}
