.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  /* background-color: hsl(217, 54%, 11%); */
  /* background-color: hsl(216, 50%, 16%); */
  background-color: hsl(213, 66%, 11%);
}

.inner-container,
.inner-container p,
.main-img {
  width: 19rem;
}

.outer-container {
  /* background-color: hsl(216, 50%, 16%); */
  /* background-color: hsl(217, 54%, 11%); */
  display: flex;
  justify-content: center;
}

.inner-container {
  /* background-color: hsl(215, 32%, 27%); */
  background-color: hsl(213, 50%, 17%);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* width: 25rem; */
  border: 2rem solid hsl(217, 54%, 11%);
  border-radius: 2.5rem;
  padding: 2rem;
}

.inner-container h3 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.info {
  display: flex;
  justify-content: space-between;
}

.inner-container p,
.time span,
.credits span {
  color: hsl(215, 51%, 70%);
}

.inner-container p {
  line-height: 1.5;
  letter-spacing: 1px;
}

.currency {
  padding-bottom: 1.5rem;
}

.currency span {
  color: hsl(178, 100%, 50%);
  font-weight: bold;
}

.credits {
  display: flex;
  align-items: center;
  border-top: 2px solid hsl(213, 29%, 34%);
  padding-top: 1.5rem;
  gap: 1rem;
}

.credits img {
  border: 2px solid white;
  border-radius: 4.4rem;
  width: 2.5rem;
}

.credits .name {
  color: white;
}
